<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Работа с радиокнопками </title>
</head>
<body bgcolor="red">
    <h2> Выберите радио: </h2>
    <form method = "post">
        {% csrf_token %}
        {% for value, label in form.word_choice.field.choices %}
        <label>
            <input type="radio" name="word_choice" value="{{ value }}"> {{ label }} <br>
        </label>
        {% endfor %}
        <label style="background-color: blue; color: white; font-size: 14pt; line-height: 4; padding: 0.375rem 0.75rem; "> {{ result }} </label> <br><br>
        <input type="submit" value="Вывести">
    </form>

</body>
</html>