<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Радиоволны </title>
</head>
<body>
    <h2> Выберите радио: </h2>
        <input {% if result == "101.7" %} checked {% endif %} type="radio" name="myRadio" onclick="window.location.href = '{% url 'radio_select' Result="101.7" %}'"> Русское радио <br>
        <input {% if result == "102.7" %} checked {% endif %} type="radio" name="myRadio" onclick="window.location.href = '{% url 'radio_select' Result="102.7" %}'"> Казахское радио <br>
        <input {% if result == "103.7" %} checked {% endif %} type="radio" name="myRadio" onclick="window.location.href = '{% url 'radio_select' Result="103.7" %}'"> Радио FM <br>
        <input {% if result == "104.7" %} checked {% endif %} type="radio" name="myRadio" onclick="window.location.href = '{% url 'radio_select' Result="104.7" %}'"> Той-думан <br>
        <input {% if result == "105.7" %} checked {% endif %} type="radio" name="myRadio" onclick="window.location.href = '{% url 'radio_select' Result="105.7" %}'"> Ретро радио <br>
        <input {% if result == "106.7" %} checked {% endif %} type="radio" name="myRadio" onclick="window.location.href = '{% url 'radio_select' Result="106.7" %}'"> Europa +<br>

        <label style="background-color: blue; color: white; font-size: 11pt; line-height:4; padding: 0.375rem 0.75rem"> Радиоволна {{ result }} </label> <br><br>
</body>
</html>