<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Всплывающий список</title>
</head>
<body style = "background-color: {{ color }};">
    <h2> Выбор цветов радуги </h2>
    <form method="POST">
        {% csrf_token %}
        <label> Выбирете цвет </label>
        <select name = "raduga">
            <option value = "red"> каждый </option>
            <option value = "orange"> охотник </option>
            <option value = "yellow"> желает </option>
            <option value = "green"> знать </option>
            <option value = "cyan"> где </option>
            <option value = "blue"> сидит </option>
            <option value = "violet"> фазан </option>
        </select>
        <br>
        <br>
        <button type = "submit"> Изменить цвет фона </button>
    </form>
</body>
</html>