<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Радиокнопки </title>
</head>
<body style="background-color: {{ color }};">
    <h2> Выберите слово: </h2>
    <input {% if color == "red" %} checked {% endif %} type="radio" name="myRadio" onclick="window.location.href = '{% url 'raduga' Color="red" %}'"> каждый <br>
    <input {% if color == "orange" %} checked {% endif %} type="radio" name="myRadio" onclick="window.location.href = '{% url 'raduga' Color="orange" %}'"> охотник <br>
    <input {% if color == "yellow" %} checked {% endif %} type="radio" name="myRadio" onclick="window.location.href = '{% url 'raduga' Color="yellow" %}'"> желает <br>
    <input {% if color == "green" %} checked {% endif %} type="radio" name="myRadio" onclick="window.location.href = '{% url 'raduga' Color="green" %}'"> знать <br>
    <input {% if color == "cyan" %} checked {% endif %} type="radio" name="myRadio" onclick="window.location.href = '{% url 'raduga' Color="cyan" %}'"> где <br>
    <input {% if color == "blue" %} checked {% endif %} type="radio" name="myRadio" onclick="window.location.href = '{% url 'raduga' Color="blue" %}'"> сидят <br>
    <input {% if color == "violet" %} checked {% endif %} type="radio" name="myRadio" onclick="window.location.href = '{% url 'raduga' Color="violet" %}'"> фазаны <br>
</body>
</html>